* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plain Light";
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
}

/* #crsr {
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    /* background-color: #fff; */
    /*border: 1px solid #ffffff7d;
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
}  */

.mousefollower {
    border: 2px solid #fff;
    background-color: rgb(255, 255, 255);
    scale: 2 ;
    mix-blend-mode: difference;
}

#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #030303;
    padding: 25vh 10vw;
}

.line {
    /* background: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;

}

#line1-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#line1-part1 h5, #line1-part1 h6 {
    font-size: 3vw;
    font-weight: 100;
    font-family: 'silk serif';
}

#line1-part1 h5{
    width: 5vw;
    text-align: right;
}

.line h1{
    font-size: 6.5vw;
    text-transform: capitalize;
    font-weight: 900;
}

.line h2{
    font-size: 5vw;
    text-transform: capitalize;
    font-weight: 900;
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

@keyframes anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}




#main {
    position: relative;
    background-color: #151515;

}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#page1 #nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.3vw 5.5vw;
}

#nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#nav-part2 h4{
    font-size: 1vw;
    font-weight: 600;
}

.hero {
    /* background-color: red; */
    width: 72%;
    margin-left: 27%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    /* position: relative;
    z-index: 9999; */

}

.hero:nth-child(2) {
    margin-top: 18vh;
}

.hero h1 {
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
}

#hero1::before {
    content: "01";
    position: absolute;
    font-size: 3vw;
    font-weight: 200;
    font-style: italic;
    font-family: "silk serif";
    left: 20%;
    top: 30%;
}

.hero h2{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
    border-bottom: 0.5vw solid #fff;
    /* padding-bottom: 0.8vw;
    transition: all ease 0.3s; */
}

.hero h2:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.5vw solid #03030300;
}

#page2 {
    height: 100vh;
    width: 100%;
    padding-top: 17vh;
    position: relative;
}

#video-container {
    background-color: #fff;
    height: 66vh;
    width: 71vw;
    position: relative;
    left: 28%;
    background-color: red;
    background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
    background-size: cover;
    background-position: center;
}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}

#video-cursor {
    background-color: #ffa63d;
    height: 8.5vw;
    width: 8.5vw;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#video-cursor i {
    font-size: 2vw;
}

#page3 {
    min-height: 100vh;
    width: 100%;
    /* background-color: #454545; */
    position: relative;
    padding: 8vh;
    margin-bottom: 20vh;
    margin-top: 20vh;
}

#page3 h1 {
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    margin-left: 28vw;

}

#page3 h1::before {
    content: "02 ";
    position: absolute;
    font-size: 3vw;
    font-weight: 200;
    font-style: italic;
    font-family: "silk serif";
    left: -12%;
    top: 10%;
}

#page3 .underline {
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin-left: 28vw;

}

#image-div-container {
    /* background-color: red; */
    padding: 1vw;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;


}

.image-div {
    height: 38vw;
    width: 25vw;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    margin: 2vw;
    /* background-color: blue; */
}

.image-div:nth-child(1){
    height: 29vw;
    width: 21vw;
}


.image-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.page3-circle1 {
    height: 23vw;
    width: 23vw;
    position: relative;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 23vh;
    margin-left: 10vw;
}

.page3-circle1 svg {
    height: 30%;
}

.page3-circle2 {
    height: 23vw;
    width: 23vw;
    position: relative;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.page3-circle2 svg {
    height: 30%;
    rotate: -45deg;
}

.circle-in {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0;
    border-radius: 50%;
    transition: all ease 0.5s;

}

.circle-in p {
    font-size: 0.95vw;
    font-weight: 500;
    color: #000;
    width: 60%;
    scale: 0;
    transition: all ease 0.5s;
    transition-delay: 0.3s;
    opacity: 0;
}

.page3-circle1:hover .circle-in {
    scale: 1;
}

.page3-circle1:hover .circle-in p  {
    scale: 1;
    opacity: 1;
}

.page3-circle2:hover .circle-in {
    scale: 1;
}

.page3-circle2:hover .circle-in p  {
    scale: 1;
    opacity: 1;
}





#page4 {
    min-height: 100vh;
    width: 100%;
    padding: 7vh 0;
    position: relative;
}

#page4-content {
    width: 72vw;
    margin-left: 28%;
    position: relative;

}

#page4-content h1 {
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;

}

#page4-content h1::before {
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-weight: 200;
    font-style: italic;
    font-family: "silk serif";
    left: -12%;
    top: 10%;
}

#page4-content .underline {
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 5vw 0;
}

#page4-content>p {
    font-size: 2.3vw;
    font-weight: 800;
    width: 50%;
    margin-bottom: 4vw;

}

#page4-flex {
    display: flex;
    
}

#page4-flex img {
    width: 45%;
    object-fit: cover;
}

#page4-flex p {
    font-size: 1vw;
    font-weight: 800;
    gap: 2;
    width: 25%;
    margin-left: 2vw;

}

#page4-blue-div {
    background-color: #3f7df4;
    width: 32vw;
    padding: 3.5vw;
    position: relative;
    margin-top: -28vh;
    margin-left: 23vw;
    margin-bottom: 25vh;
    z-index: 99;
}

.blue-div-elem {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2.2vw 0;
    border-bottom: 2px solid #ffffff94;

}

.blue-div-elem h4 {
    font-size: 1.6vw;
    font-weight: 500;
    
}

.blue-div-elem p {
    width: 50%;
    font-size: 1.1vw;
    font-weight: 700;
    padding-left: 2vw;
}

#page5  {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.elem, .elem2 {
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}

.elem h1, .elem2 h1 {
    font-size: 7.5vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    animation-name: loaderanime;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes loaderanime {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 20px));
    }
}

.elem2 h1 {
    transform: translateX(calc(-100% - 20px));
    animation-direction: reverse;
}

.elem span, .elem2 span {
    font-style: italic;
    font-family: 'silk serif';
    color: transparent;
}

.footer {
    height: 85vh;
    width: 100%;
    position: relative;
    padding-left: 28vw;
    padding-right: 2vw;
}

.footer h1 {
    font-size: 7.2vw;
    text-transform: uppercase;
    position: relative;
}

.footer h1::before {
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-weight: 200;
    font-style: italic;
    font-family: "silk serif";
    left: -12%;
    top: 10%;
}

.underline {
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin: 3vw 0;
}

#footer-div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 4vw;
    padding-top: 4vw;
    margin-bottom: 6vw;
}

#footer-div h6 {
    font-size: 1.1vw;
    margin-bottom: 1.5vw;
    font-weight: 500;
}

.box {
    width: 25%;
}

#footer-div h5 {
    font-size: 1.7vw;
    font-weight: 500;
}

#footer>h4 {
    font-size: 1vw;
    font-weight: 500;
}

._canvas_container {
    z-index: 999999 !important;
    pointer-events: none ;
}

#flag {
    height: 25vw;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
}

#hero3 {
    z-index: 999;
    position: relative;
}