/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: "Plain Light";
    src: url(./font/plain-regular-webfont.ttf);
}

@font-face {
    font-family: "Plain Light";
    src: url(./font/plain-light-webfont.ttf);
}

@font-face {
    font-family: "silk serif";
    src: url(./font/silkserif-lightitalic-webfont.ttf);
}

@font-face {
    font-family: "silk serif";
    src: url(./font/silkserif-regularitalic-webfont.ttf);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Plain Light";
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
}

.mousefollower {
    border: 2px solid #fff;
    background-color: rgb(255, 255, 255);
    scale: 2 ;
    mix-blend-mode: difference;
}

#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #030303;
    padding: 25vh 10vw;
}

.line {
    /* background: red; */
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 3vw;

}

#line1-part1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1vw;
}

#line1-part1 h5, #line1-part1 h6 {
    font-size: 3vw;
    font-weight: 100;
    font-family: 'silk serif';
}

#line1-part1 h5{
    width: 5vw;
    text-align: right;
}

.line h1{
    font-size: 6.5vw;
    text-transform: capitalize;
    font-weight: 900;
}

.line h2{
    font-size: 5vw;
    text-transform: capitalize;
    font-weight: 900;
    opacity: 0;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;

}

@-webkit-keyframes anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}

@keyframes anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}

#main {
    position: relative;
    background-color: #151515;

}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#page1 #nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.3vw 5.5vw;
}

#nav-part2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3vw;
}

#nav-part2 h4{
    font-size: 1vw;
    font-weight: 600;
}

.hero {
    /* background-color: red; */
    width: 72%;
    margin-left: 27%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* position: relative;
    z-index: 9999; */

}

.hero:nth-child(2) {
    margin-top: 18vh;
}

.hero h1 {
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
}

#hero1::before {
    content: "01";
    position: absolute;
    font-size: 3vw;
    font-weight: 200;
    font-style: italic;
    font-family: "silk serif";
    left: 20%;
    top: 30%;
}

.hero h2{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
    border-bottom: 0.5vw solid #fff;
    /* padding-bottom: 0.8vw;
    transition: all ease 0.3s; */
}

.hero h2:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.5vw solid #03030300;
}

#page2 {
    height: 100vh;
    width: 100%;
    padding-top: 17vh;
    position: relative;
}

#video-container {
    background-color: #fff;
    height: 66vh;
    width: 71vw;
    position: relative;
    left: 28%;
    /* background-color: red; */
    background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
    background-size: cover;
    background-position: center;
}

#video-container video {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0;
}

#video-cursor {
    background-color: #ffa63d;
    height: 8.5vw;
    width: 8.5vw;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 999;
}

#video-cursor i {
    font-size: 2vw;
}

#page3 {
    min-height: 100vh;
    width: 100%;
    /* background-color: #454545; */
    position: relative;
    padding: 7vh;
    margin-bottom: 50vh;
    margin-top: 20vh;
}

#page3 h1 {
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    margin-left: 28vw;

}

#page3 h1::before {
    content: "02 ";
    position: absolute;
    font-size: 3vw;
    font-weight: 200;
    font-style: italic;
    font-family: "silk serif";
    left: -12%;
    top: 10%;
}

#page3 .underline {
    height: 2px;
    width: 70%;
    background-color: #fff;
    margin: 3vw 0;
    margin-left: 28vw;
}

#image-div-container {
    /* background-color: red; */
    padding: 0.5vw;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.image-div {
    height: 42vw;
    width: 31vw;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    position: relative;
    overflow: hidden;
    margin: 1vw;
    /* background-color: blue; */
}

.image-div:nth-child(1){
    height: 29vw;
    width: 21vw;
}


.image-div img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

.page3-circle1 {
    height: 22vw;
    width: 22vw;
    position: relative;
    border: 2px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 23vh;
    margin-left: 9vw;
}

.page3-circle1 svg {
    height: 30%;
}

.page3-circle2 {
    height: 22vw;
    width: 22vw;
    position: relative;
    border: 2px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
   
}

.page3-circle2 svg {
    height: 30%;
    rotate: -45deg;
}

.circle-in {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    scale: 0;
    border-radius: 50%;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;

}

.circle-in p {
    font-size: 0.95vw;
    font-weight: 500;
    color: #000;
    width: 60%;
    scale: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    -webkit-transition-delay: 0.3s;
         -o-transition-delay: 0.3s;
            transition-delay: 0.3s;
    opacity: 0;
}

.page3-circle1:hover .circle-in {
    scale: 1;
}

.page3-circle1:hover .circle-in p  {
    scale: 1;
    opacity: 1;
}

.page3-circle2:hover .circle-in {
    scale: 1;
}

.page3-circle2:hover .circle-in p  {
    scale: 1;
    opacity: 1;
}

#page4 {
    min-height: 100vh;
    width: 100%;
    padding: 7vh 0;
    position: relative;
    margin-bottom: 50vh;
}

#page4-content {
    width: 72vw;
    margin-left: 28%;
    position: relative;

}

#page4-content h1 {
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;

}

#page4-content h1::before {
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-weight: 200;
    font-style: italic;
    font-family: "silk serif";
    left: -12%;
    top: 10%;
}

#page4-content .underline {
    height: 2px;
    width: 95%;
    background-color: #fff;
    margin: 3vw 0;
}

#page4-content>p {
    font-size: 2.3vw;
    font-weight: 800;
    width: 50%;
    margin-bottom: 4vw;

}

#page4-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
}

#page4-flex img {
    width: 45%;
    -o-object-fit: cover;
       object-fit: cover;
}

#page4-flex p {
    font-size: 1vw;
    font-weight: 800;
    gap: 2;
    width: 25%;
    margin-left: 2vw;

}

#page4-blue-div {
    background-color: #3f7df4;
    width: 32vw;
    padding: 3.5vw;
    position: relative;
    margin-top: -28vh;
    margin-left: 23vw;
    margin-bottom: 25vh;
    z-index: 99;
}

.blue-div-elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2.2vw 0;
    border-bottom: 2px solid #ffffff94;

}

.blue-div-elem h4 {
    font-size: 1.6vw;
    font-weight: 500;
    
}

.blue-div-elem p {
    width: 50%;
    font-size: 1.1vw;
    font-weight: 700;
    padding-left: 2vw;
}

#page5  {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.elem, .elem2 {
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}

.elem h1, .elem2 h1 {
    font-size: 7.5vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    -webkit-animation-name: loaderanime;
            animation-name: loaderanime;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes loaderanime {
    from {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
    }
}

@keyframes loaderanime {
    from {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
    }
}

.elem2 h1 {
    -webkit-transform: translateX(calc(-100% - 20px));
        -ms-transform: translateX(calc(-100% - 20px));
            transform: translateX(calc(-100% - 20px));
    animation-direction: reverse;
}

.elem span, .elem2 span {
    font-style: italic;
    font-family: 'silk serif';
    color: transparent;
}

.footer {
    height: 90vh;
    width: 100%;
    position: relative;
    padding-left: 28vw;
    padding-right: 2vw;
}

.footer h1 {
    font-size: 7.2vw;
    text-transform: uppercase;
    position: relative;
}

.footer h1::before {
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-weight: 200;
    font-style: italic;
    font-family: "silk serif";
    left: -12%;
    top: 10%;
}

.underline {
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin: 3vw 0;
}

#footer-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 4vw;
    padding-top: 4vw;
    margin-bottom: 6vw;
}

#footer-div h6 {
    font-size: 1.1vw;
    margin-bottom: 1.5vw;
    font-weight: 500;
}

.box {
    width: 25%;
}

#footer-div h5 {
    font-size: 1.7vw;
    font-weight: 500;
}

.footer>h4 {
    font-size: 1.2vw;
    font-weight: 600;
    margin-bottom: 2vw;
}

._canvas_container {
    z-index: 999999 !important;
    pointer-events: none ;
}

#flag {
    height: 25vw;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#hero3 {
    z-index: 999;
    position: relative;
}

@media (max-width:600px) {
    #page1 {
        height: 60vh;
        width: 100%;
        background-color: #151515;
        padding-top: 1px;
    }
    
    #page1 #nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 4.3vw 5vw;
        position: fixed;
        width: 100%;
        /* background-color: red; */
        top: 0;
    }

    #nav svg {
        scale: 0.8;
    }
    
    #nav-part2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 3vw;
        display: none;
    }
    
    #nav-part2 h4{
        font-size: 1vw;
        font-weight: 600;
    }
    
    .hero {
        /* background-color: red; */
        width: 72%;
        margin-left: 5%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        /* position: relative;
        z-index: 9999; */
    
    }
    
    .hero:nth-child(2) {
        margin-top: 25vh;
    }
    
    .hero h1 {
        font-size: 9.8vw;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 10.5vw;
        position: relative;
    }
    
    #hero1::before {
        content: "01";
        position: absolute;
        font-size: 5vw;
        font-weight: 200;
        font-style: italic;
        font-family: "silk serif";
        left: 5%;
        top: 35%;
    }
    
    .hero h2{
        font-size: 9.8vw;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 10.5vw;
        border-bottom: 0.6vw solid #fff;
    }

    #page2 {
        height: 58vh;
        width: 100%;
        padding-top: 6vh;
        position: relative;
    }
    
    #video-container {
        background-color: #fff;
        height: 52vh;
        width: 100vw;
        position: relative;
        left: 0%;
        /* background-color: red; */
        background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
        background-size: cover;
        background-position: center;
    }
    
    #video-container video {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        opacity: 0;
    }
    
    #video-cursor {
        background-color: #ffa63d;
        height: 25vw;
        width: 25vw;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        z-index: 999;
    }
    
    #video-cursor i {
        font-size: 5vw;
    }

    #page3 {
        min-height: 100vh;
        width: 100%;
        /* background-color: #454545; */
        position: relative;
        padding: 17vh 3vw 0 3vw;
        margin-bottom: 0vh;
        margin-top: 0vh;
    }
    
    #page3 h1 {
        font-size: 9.5vw;
        text-transform: uppercase;
        position: relative;
        margin-left: 2vw;
        margin-bottom: 5vw;
    }
    
    #page3 h1::before {
        content: "02 ";
        position: absolute;
        font-size: 5vw;
        font-weight: 100;
        font-style: italic;
        font-family: "silk serif";
        left: 0%;
        top: -66%;
    }
    
    #page3 .underline {
        width: 94%;
        margin-left: 2vw;
    
    }
    
    #image-div-container {
        /* background-color: red; */
        margin-top: 10vw;
        padding: 1vw;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    
    }
    
    .image-div {
        height: 110vw;
        width: 90vw;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        position: relative;
        overflow: hidden;
        margin: 2vw;
        margin-bottom: 8vw;
        /* background-color: blue; */
    }
    
    .image-div:nth-child(1){
        height: 110vw;
        width: 90vw;
    }
    
    
    .image-div img {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center;
    }
    
    .page3-circle1 {
        height: 23vw;
        width: 23vw;
        position: relative;
        border: 2px solid #fff;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 23vh;
        margin-left: 10vw;
        display: none;
    }
    
    .page3-circle1 svg {
        height: 30%;
    }
    
    .page3-circle2 {
        height: 23vw;
        width: 23vw;
        position: relative;
        border: 2px solid #fff;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        display: none;
    }
    
    .page3-circle2 svg {
        height: 30%;
        rotate: -45deg;
    }
    
    .circle-in {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        scale: 0;
        border-radius: 50%;
        -webkit-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s;
    
    }
    
    .circle-in p {
        font-size: 0.95vw;
        font-weight: 500;
        color: #000;
        width: 60%;
        scale: 0;
        -webkit-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s;
        -webkit-transition-delay: 0.3s;
             -o-transition-delay: 0.3s;
                transition-delay: 0.3s;
        opacity: 0;
    }
    
    .page3-circle1:hover .circle-in {
        scale: 1;
    }
    
    .page3-circle1:hover .circle-in p  {
        scale: 1;
        opacity: 1;
    }
    
    .page3-circle2:hover .circle-in {
        scale: 1;
    }
    
    .page3-circle2:hover .circle-in p  {
        scale: 1;
        opacity: 1;
    }

    #page4 {
        min-height: 100vh;
        width: 100%;
        padding: 10vh 5vw;
        position: relative;
        margin-bottom: 0;
    }
    
    #page4-content {
        width: 90vw;
        margin-left: 0%;
        position: relative;
        /* background-color: red; */
    
    }
    
    #page4-content h1 {
        font-size: 9.5vw;
        text-transform: uppercase;
        position: relative;
    
    }
    
    #page4-content h1::before {
        content: "03";
        position: absolute;
        font-size: 3vw;
        font-weight: 200;
        font-style: italic;
        font-family: "silk serif";
        left: -12%;
        top: 10%;
    }
    
    #page4-content .underline {
        height: 1px;
        width: 100%;
        background-color: #fff;
        margin: 7vw 0 5vw 0;
    }
    
    #page4-content>p {
        font-size: 6vw;
        font-weight: 800;
        width: 90%;
        margin-bottom: 3vw;
    
    }
    
    #page4-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        
    }
    
    #page4-flex img {
        width: 100%;
        margin: 5vw 0 8vw 0;
    }
    
    #page4-flex p {
        font-size: 4vw;
        width: 90%;
        margin-left: 0vw;
        margin-bottom: 5vw;
    
    }
    
    #page4-blue-div {
        background-color: #3f7df4;
        width: 90vw;
        padding: 5vw;
        padding-bottom: 15vw;
        position: relative;
        margin-top: 0vh;
        margin-left: 0vw;
    }
    
    .blue-div-elem {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 4.7vw 0;
        border-bottom: 2px solid #ffffff94;
    
    }
    
    .blue-div-elem h4 {
        font-size: 3.9vw;
        font-weight: 500;
        
    }
    
    .blue-div-elem p {
        width: 50%;
        font-size: 3.6vw;
    }

    #page4-content .underline:nth-last-child(1){
        margin: 26vw 0 7vw 0;
    }

    #page5  {
        min-height: 60vh;
        width: 100%;
        position: relative;
    }
    
    .elem, .elem2 {
        white-space: nowrap;
        overflow-x: hidden;
        margin-bottom: -2vw;
    }
    
    .elem h1, .elem2 h1 {
        font-size: 12vw;
        -webkit-text-stroke: 1px #fff;
        font-weight: 400;
        text-transform: uppercase;
        color: transparent;
        display: inline-block;
        margin-right: 16px;
        -webkit-animation-name: loaderanime;
                animation-name: loaderanime;
        -webkit-animation-duration: 20s;
                animation-duration: 20s;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
    }

    .elem2 h1 {
        -webkit-transform: translateX(calc(-100% - 20px));
            -ms-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
        animation-direction: reverse;
    }

    @-webkit-keyframes loaderanime {
        from {
            -webkit-transform: translateX(0);
                    transform: translateX(0);
        }
        to {
            -webkit-transform: translateX(calc(-100% - 20px));
                    transform: translateX(calc(-100% - 20px));
        }
    }

    @keyframes loaderanime {
        from {
            -webkit-transform: translateX(0);
                    transform: translateX(0);
        }
        to {
            -webkit-transform: translateX(calc(-100% - 20px));
                    transform: translateX(calc(-100% - 20px));
        }
    }
    
    .elem span, .elem2 span {
        font-style: italic;
        font-family: 'silk serif';
        color: transparent;
    }
    
    .footer {
        height: 110vh;
        width: 100%;
        position: relative;
        padding: 5vw 5vw;
    }
    
    .footer h1 {
        font-size: 9.7vw;
        text-transform: uppercase;
        position: relative;
    }
    
    .footer h1::before {
        content: "04";
        position: absolute;
        font-size: 5vw;
        font-weight: 200;
        font-style: italic;
        font-family: "silk serif";
        left: 0%;
        top: -68%;
    }
    
    .underline {
        height: 2px;
        width: 100%;
        background-color: #fff;
        margin: 8vw 0;
    }
    
    #footer-div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column ;
                flex-direction: column ;
        padding-right: 4vw;
        padding-top: 4vw;
        margin-bottom: 6vw;
    }
    
    #footer-div h6 {
        font-size: 3.9vw;
        margin-bottom: 3.5vw;
        font-weight: 500;
    }
    
    .box {
        width: 30%;
        margin-bottom: 5vw;
    }
    
    #footer-div h5 {
        font-size: 5.4vw;
        margin-bottom: 1.5vw;
        font-weight: 500;
    }
    
    .footer>h4 {
        font-size: 4vw;
        font-weight: 500;
        margin-bottom: 2vw;
    }
}